.contact{
    background: rgba(0,0,0, 0.3) ;
    background-image: url('/public/img/Logo_sygnet_white.svg');
    background-repeat: repeat round;
    background-size: 50%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include desktop{
        align-items: center;
    }
    

        .form-container{
        margin: 20px;
        font-family: $mainFont;
        font-size: 20px;
        font-weight: bold;
        border: 1px dashed $black;
        padding: 10px;

        @include desktop{
            width: 50%;
        }

        .error{
            color: $red;
            font-size: 13px;
            font-family: $mainFont;
            
            @include tablet{
                font-size: 25px;
                text-align: end;
            }

            @include desktop{
                text-align: center;
                font-size: 20px;
                
            }
        }

        .contact-me{
            font-weight: bold;
            font-size: 2em;
            text-align: center;
            margin-bottom: 20px;

            @include tablet{
                font-size: 3em;
            }

            @include desktop{
                font-size: 2em;
            }
        }

        .form-elements{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1em;
            margin-top: 10px;
            font-weight: lighter;

            @include tablet{
                font-size: 2em;
            }

            @include desktop{
                justify-content: center;
                font-size: 1.5em;

                div{
                    width: 200px;
                }
                
               
            }

            input{
                background: rgba(0,0,0, 0.5) ;
                border: none;   
                font-family: $mainFont;
                

                @include tablet{
                    height: 40px;
                    width: 60%;
                    font-size: 30px;    
                }

                @include desktop{
                    width: 50%;
                    margin-left: 15px;
                }
            }
            
        }
        .form-elements-textarea{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            font-weight: lighter;

            @include tablet{
                div{
                    font-size: 2em;;
                }
            }

            @include desktop{
                flex-direction: row;
                justify-content: center;

                div{
                    font-size: 1.5em;
                    width: 200px;
                    
                }
            }   

            
        }
        .form-textarea{
            width: 100%;
            height: 150px;
            resize: none;
            border: none;
            background: rgba(0,0,0, 0.5) ;
            margin-top: 10px;   
            font-family: $mainFont;
            font-weight: normal;
            

            @include tablet {
                height: 350px;
                font-size: 30px;
            }
            
            @include desktop{
                height: 140px;
                width:50%;
                margin-left: 15px;
            }
        }

        .form-elements-submit{
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-weight: lighter;


            .form-submit{
                
                font-family: $mainFont;
                color: $black;
                font-weight: bold;

                @include tablet{
                    font-size: 25px;
                    padding: 15px;
                }

                @include desktop{
                    font-size: 20px;
                    padding: 10px;
                }

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .doneMsg{
            margin-top: 20px;
            text-align: center;
            color: $green;
            font-size: 15px;

            @include tablet{
                font-size: 25px;
            }

            @include desktop{
                font-size: 15px;
            }
        }
        .errorMsg{
            margin-top: 20px;
            text-align: center;
            color: $red;
            font-size: 15px;

            @include tablet{
                font-size: 25px;
            }

            @include desktop{
                font-size: 15px;
            }
        }
    }
}   