.skills{
    height:80vh;
    background-color: $black;

    .skills_word{
        color:$white;
        font-family: $mainFont;
        text-align: center;
        font-size: 25px;

        @include tablet{
            font-size: 40px;
        }
    }

    .skills_stage{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .skills_container{
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            margin-bottom: 10px;


            @include tablet{
                width: 150px;
                height: 150px;
            }

            @include desktop{
                width:150px;
                height: 100px;
            }
    
            
            p{
                font-family: $mainFont;
                color:$white;
                margin: 0;
                font-size: 12px;
                margin-top: 5px;

                @include tablet {
                    font-size: 25px;
                    text-align: center;
                }

                @include desktop {
                    font-size:15px;
                    text-align: center;
                }
            }

             .skills-shape{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            font-size: 30px;
            border-radius: 90%;
            

            @include tablet{
                width: 100px;
                height: 100px;
            }

            @include desktop{
                width: 80px;
                height: 80px;
            }

            .jsSkills{
                color:$yellow;

                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
            .htmlSkills{
                color: $orange;
                
                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
            .cssSkills{
                color: $blue;

                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
            .sassSkills{
                color: $pink;

                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
            .mobileSkills{
                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
            .nodeSkills{
                color: $green-dark;

                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
            .phpSkills{
                color:$purple;

                @include tablet{
                    font-size: 60px;
                }

                @include desktop{
                    font-size: 40px;
                }
            }
        }
          
        .reactSkills{
            color: $lightBlue;

            @include tablet{
                font-size: 60px;
            }

            @include desktop{
                font-size: 40px;
            }

            @keyframes react {
                0%{
    
                }
                100%{
                    transform: rotate(360deg);
                }
            }
             animation: react 5s linear 2s infinite;
        }
    }
  
    }

   
    
}   